 
<div class="fileUploadBase" ng-controller="FileUploadCtrl"  >

    <div class="uploadHeading" class="row" ng-class="{blur: loader}" >
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 border1 uploadCSVFile ">
            <fieldset  class="scheduler-border">
                <legend class="scheduler-border">Upload a .csv file here</legend>

                <div id="dropbox" style="height: 80% !Important; width: 100% !Important; display: inline-block;" class="dropbox" ng-class="dropClass">
                    <div ng-hide="files.length">
                        <div class="upload">
                            <input type="file" name="file-upload" id="file-upload" style="display: inline-block" class="inputfile" ng-model-instant id="fileToUpload"
                                onchange="angular.element(this).scope().setFiles(this)" />
                        </div>
                        <label for="file-upload" class="custom-file-upload text-center containerr" style="font-size: 100%; ">
                                Select a file for upload <span style="font-size: larger" class="fa fa-cloud-upload"></span> 
                            <span style="font-size: 90%;"> or drag it here </span> 
                        <span style="font-size: 90%; color:cadetblue">{{dropText}}</span> </label>
                    </div>
                    <div ng-show="files.length">
                        <div ng-repeat="file in files.slice(0)">
                            <span class="containerr2">
                                {{file.webkitRelativePath || file.name}} <i  class="fa fa-trash-o" ng-click="removeFile()" aria-hidden="true"></i>
                                <span class="fa fa-file-text-o"></span>
                            </span>
                        </div>
                    </div>

                </div>

            </fieldset>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border1 uploadCSVFile ">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Dataset segregation</legend>
                <table style="height: 80% !Important; width: 100% !Important;" class="table" >
                    <tr>
                        <td>
                            <b style="color: #0b5494;font-size: 100% !Important;font-weight: normal;">Training  %</b>
                            <span style="color: #0b5494;"><input type="number"  class="form-control"   ng-model="slider.value" ></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                <span style="color: #0b5494;font-size: 100% !Important;font-weight: normal">Testing  % </span>
                            </b>
                            <span style="color: #0b5494"><input class="form-control" ng-model="testing" type="number" ></span>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>




    <div  class="uploadSlider" class="row" ng-class="{blur: loader}">
        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border1 sliderHeight ">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Move the slider to define dataset segregation percentage</legend>
              <article>  <center> <rzslider  rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider></center> </article>
            </fieldset>
        </div>
    </div>


    <div class="uploadNextBtn" class="row" ng-class="{blur: loader}">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border1 sliderHeight">
            <input type="button" ng-disabled="!files.length" ng-click="goNext()" value="NEXT" class="btn btn-primary pull-right " />
        </div>
    </div>
<center><div ng-show="loader" class="loader"></div></center>

</div>
