.predictscrollbar
{
	margin-left: 0px;
	float: left;
	height: 280px;
	width: 600px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 20px;
}

.highcharts-color-0 {
fill: #108610;
}

.highcharts-color-1 {
fill: #7cb5ec;
} 


